---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {
  variant: 'primary | secondary'
}

const {variant, ...attributes} = Astro.props

---
<button {...attributes}>
  <slot/>
</button>